@import "tailwindcss";

@theme{

  --color-newBlue: #418DB1;

  --color-newBlack:#000000;

  --color-new-violet: #6D388D;
  --color-new-violet-200: #BE7DE6;
  --color-new-violet-400: #8f41ca;
  --color-new-violet-600:#381767;
  --color-new-violet-800: #190a2f;


}

@keyframes animate-blob {
  0%{
    transform: translate(0%,0%);
  }
  45%{
    transform: translate(150%, 30%) scale(1.2);
  }

  70%{
    transform: translate(30%, -50%) scale(1);
  }
  100%{
    transform: translate(0%,0%);
  }
}

@keyframes animate-blob2 {
  0%{
    transform: translate(0%,0%);
  }
  45%{
    transform: translate(-200%, 30%) scale(1.8);
  }
  100%{
    transform: translate(0%,0%);
  }
}

@keyframes animate-blob3 {
  0%{
    transform: translate(0%,0%);
  }
  45%{
    transform: translate(50%, 30%) scale(3);
  }
  100%{
    transform: translate(0%,0%);
  }
}


@layer utilities{
  .animate-blob{
    animation: animate-blob 12s linear infinite;
  }
  .animate-blob2{
    animation: animate-blob2 12s ease-in-out infinite;
  }
  .animate-blob3{
    animation: animate-blob3 12s ease-in-out infinite;
  }


  .hoverText{
    transition: 0.35s font-weight,
    0.35s color;
  }

  .hoverText:hover{
    font-weight: 900;
    color: white;
  }

  /* To the right element */
  .hoverText:hover + .hoverText{
    font-weight: 400;
    color: whitesmoke;
  }

  /* .hoverText:hover + .hoverText + .hoverText{
    font-weight: 50;
    color: whitesmoke;
  } */

  /* to the left element */
  .hoverText:has(+ .hoverText:hover){
    font-weight: 300;
    color: whitesmoke;
  }
}